<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Order</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Update Order</h1>
    <form
            th:action="@{/order/update/{id}(id=${order.id})}"
            th:method="post" class="mt-3" id="updateOrderForm"
    >
        <div class="card">
            <div class="card-header bg-info text-white">
                Order Information
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="tableId" class="form-label">Serve Table</label>
                        <div id="tableId" th:text="${order.getTableCode()}"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="status" class="form-label">Order Status</label>
                        <select id="status" name="status" >
                            <option value="PENDING" th:selected="${order.getStatus() == 'PENDING'}">PENDING</option>
                            <option value="PAYED" th:selected="${order.getStatus() == 'PAYED'}">PAYED</option>
                            <option value="DONE" th:selected="${order.getStatus() == 'DONE'}">DONE</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Order Items</label>
                    <table class="table table-bordered" id="orderItemsTable">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderDetail, index : ${order.getOrderDetails()}">
                            <td th:text="${orderDetail.getProductName()}" class="product-name"></td>
                            <td th:text="${orderDetail.getQuantity()}"></td>
                            <td th:text="${orderDetail.getProductPrice()}"></td>
                            <td th:text="${orderDetail.getQuantity() * orderDetail.getProductPrice()}"></td>
                        </tr>
                        <tr id="total-row">
                            <td colspan="3" class="text-right font-weight-bold">Total Amount:</td>
                            <td colspan="2" id="totalAmount" th:text="${order.getTotalAmount()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Update Order</button>
                    <a th:href="@{/order/manage}" class="btn btn-secondary">Cancel</a>
                   </div>
            </div>
        </div>
    </form>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

</script>
</body>
</html>